
.cardView {
    max-width: 400px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .cardView {
        max-width: 670px;
    }
}

@media screen and (min-width: 992px) {
    .cardView {
        max-width: 1000px;
    }
}
